@border_radius: 4px;

body{
	cursor: default;
	-webkit-user-select: none;
	background-image: url(../img/texturetastic_gray_@2X.png);
	background-size: 476px;
	display: none;
}

.text-upper{
	text-transform:uppercase;
}

.text-capital{
	text-transform:capitalize;
}

.text-lower{
	text-transform:lowercase;
}

.loader{
	background: url('../img/loader.gif');
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-color: #FFF;
	background-position-x: 10px;
}