doctype 5
html(lang="en", ng-app, ng-csp)
	head
		title PNR Live
		link(href='content/css/bootstrap.css', rel='stylesheet')
		link(href='content/css/styles.css', rel='stylesheet')
	body
		.container(ng-controller="LivePnrController")
			h2.text-right PNR Live
			
			include SubmitView.jade
			include ResultsView.jade
			
				
		//Only for development
		if debug
			script(src="http://localhost:35729/livereload.js")
		script(src='content/js/angular.js')
		script(src='script.js')