doctype 5
html(lang="en")
	head
		title PNR Status
		link(href='css/bootstrap.css', rel='stylesheet')
		link(href='css/styles.css', rel='stylesheet')
	body
		.container
			h2.text-center PNR Live
			form(role="form")
				.form-group
					input.text-center.form-control(type='text', placeholder='Enter your PNR number')
				.form-group
					button.btn.btn-primary.form-control(type='button') Start Fetching
			.panel.panel-default
				.panel-heading.text-center
					strong Waiting
				.panel-body
					div
						strong Passenger list:	
						ol
							li W/L 1 
							li W/L 2
					
					div
						strong Departure in:
						span.pull-right.text-info 4hrs 30 minutes
					
					div
						strong Chart Prepared:
						span.pull-right.text-info No
					
					hr
					div
						strong Train Name: 
						span.pull-right.text-info Ajmer Express
					
					div
						strong Train Number: 
						span.pull-right.text-info 12989
					
					
					div
						strong Arrival Time:
						span.text-info.pull-right 15-Jan-2012, 4:40 am
					
					div
						strong Boarding Station:
						span.text-info.pull-right Ajmer 
					
					div
						strong Departure time:
						span.text-info.pull-right 12-Jan-2012, 4:45 pm
					
					div
						strong Reservation :
						span.pull-right.text-info
							span Ajmer
							span  to 
							span Delhi
					
					
					
				.panel-footer.text-muted.text-center as on - 26 Jan 2013, 4:45 pm

				
		//Only for development
		script(src="http://localhost:35729/livereload.js")
		script(src='js/angular.js')
		script(src='js/main.js')
			