doctype 5
html(lang="en")
	head
		title PNR Status
		link(href='css/bootstrap.css', rel='stylesheet')
		link(href='css/styles.css', rel='stylesheet')
	body
		.container
			h2.text-center PNR Live
			form
				.form-group
					input.text-center.form-control(type='text', placeholder='Enter your PNR number')
				.form-group
					button.btn.btn-primary.form-control(type='button') Start Fetching

		//Only for development
		script(src="http://localhost:35729/livereload.js")