#ResultsView.panel.panel-default(data-bind="css:{'hide': isVisible() === false }")
	.panel-heading.text-center
		strong(data-bind="text: bookingStatus") &nbsp
	.panel-body
		div

			ol(data-bind="foreach: passengers")
				li
					span(data-bind="text:status")
					span.pull-right(data-bind="text: berth() + ', ' + coach() ")
					
					
		hr

		div
			strong Chart Prepared:
			span.pull-right.text-info(data-bind="text:chartPrepared")
		
		div
			strong Class:
			span.pull-right.text-info(data-bind="text:bookingClass")
		
		div
			strong Train Name: 
			span.pull-right.text-info.text-capital(data-bind="text:trainName") &nbsp
		
		div
			strong Train Number: 
			span.pull-right.text-info(data-bind="text:trainNumber")
		
		div
			strong Date of Journey:
			span.text-info.pull-right(data-bind="text:travelDate")
		
		div
			strong Reservation From:
			span.pull-right.text-info.text-capital.text-capital(data-bind="text:fromStation")
				
		div
			strong Reservation To:
			span.pull-right.text-info.text-capital.text-capital(data-bind="text:toStation")
		
		
		
	.panel-footer.text-muted.text-center
		span as on - 
		span(data-bind="text:timeStamp")
