#ResultsView.panel.panel-default(data-bind="visible: isVisible")
	.panel-heading.text-center
		strong(data-bind="text: bookingStatus") &nbsp
	.panel-body
		div
			ol(data-bind="foreach: passengers")
				li
					strong(data-bind="text:status")
					span :&nbsp
					span(data-bind="text:seat_number")
		hr

		div
			strong Departure in:
			span.pull-right.text-info(data-bind="text:timeRemaining")
		
		div
			strong Chart Prepared:
			span.pull-right.text-info(data-bind="text:chartPrepared")
		
		hr
		div
			strong Train Name: 
			span.pull-right.text-info.text-capital(data-bind="text:trainName") &nbsp
		
		div
			strong Train Number: 
			span.pull-right.text-info(data-bind="text:trainNumber")
		
		
		div
			strong Departure Time:
			span.text-info.pull-right TODO
		
		div
			strong Date of Journey:
			span.text-info.pull-right(data-bind="text:travelDate")
		
		
		div
			strong Boarding Station:
			span.text-info.pull-right.text-capital(data-bind="text:boardingStation") &nbsp
		
		div
			strong Arrival Time:
			span.text-info.pull-right TODO
		
		div
			strong Reservation From:
			span.pull-right.text-info.text-capital.text-capital TODO
				
		div
			strong Reservation To:
			span.pull-right.text-info.text-capital.text-capital TODO
		
		
		
	.panel-footer.text-muted.text-center
		span as on - 
		span(data-bind="text:timeStamp")
