.panel.panel-default(ng-show="ResultView.isLoaded")
	.panel-heading.text-center
		strong {{ResultView.currentStatus}}
	.panel-body
		div
			ol
				li(ng-repeat="passenger in ResultView.passengers") {{passenger.status}}
		hr

		div
			strong Departure in:
			span.pull-right.text-info TODO
		
		div
			strong Chart Prepared:
			span.pull-right.text-info {{ResultView.chartPrepared}}
		
		hr
		div
			strong Train Name: 
			span.pull-right.text-info.text-capital {{ResultView.trainName}}
		
		div
			strong Train Number: 
			span.pull-right.text-info {{ResultView.trainNumber}}
		
		
		div
			strong Departure Time:
			span.text-info.pull-right {{ResultView.departureTime}}
		
		div
			strong Date of Journey:
			span.text-info.pull-right {{ResultView.departureDate}}
		
		
		div
			strong Boarding Station:
			span.text-info.pull-right.text-capital {{ResultView.boardingStation}}
		
		div
			strong Arrival Time:
			span.text-info.pull-right {{ResultView.arrivalTime}}
		
		div
			strong Reservation From:
			span.pull-right.text-info.text-capital.text-capital {{ResultView.fromStation}}
				
		div
			strong Reservation To:
			span.pull-right.text-info.text-capital.text-capital {{ResultView.toStation}}
		
		
		
	.panel-footer.text-muted.text-center
		span as on - 
		span {{ResultView.timeStamp}}
