form#SubmitView(role="form")
	.form-group
		input.text-center.form-control(type='text', placeholder='Enter your PNR number',maxlength="10", data-bind="value: pnrNumber")
	.form-group
		button.btn.form-control(type='button', data-bind="click: submit", class="btn-primary") Start Fetching

